.App {
  text-align: center;
  color: white;
  background-color: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Initial-table {
  width: 50%;
  padding: 50px;
}

.Cluster-table {
  margin-left: -400px;
  width: 50%;
  height: 100%;
  padding: 50px;
  opacity: 0;
  visibility: hidden;
}

.Cluster-table-run {
  margin-left: 0px;
  width: 50%;
  height: 100%;
  padding: 50px;
  opacity: 1;
  visibility: visible;
  transition: visibility 1s, opacity 1s, margin 1s ease-out;
}

.label-form {
  /* float: left; */
  font-size: 16px;
  margin: auto;
}

.button-form {
  
}

* {
  font-size: 16px;
}

.title-app {
  padding: 50px;
}

.form-centroid {
  margin-top: 30px;
}

.lbl-initialtable {
  margin-bottom: 20px;
}

.lbl-clustertable {
  margin-bottom: 20px;
}

.btn-normalisasi {
  margin-left: 80px;
  /* display: flex; */
  position: absolute;  
  border-radius: 5px;
}

.btn-normalisasi-none {
  display: none;
}

.btn-denormalisasi {
  margin-left: 30px;
  /* display: flex; */
  position: absolute;  
  border-radius: 5px;
}

.btn-denormalisasi-none {
  display: none;
}

